{% extends 'base.html' %}
{% block content %}


<h1>About Us</h1>

<div class="margin">
    <br />
    <br />
    <img class="jameshead" src="/static/images/me.jpg" alt="picture of james" />
    <br />
    <ul class="CV">
        <li><b>Name:</b> James Cunningham</li>
        <br />
        <li><b>Age: </b> 23</li>
        <br />
        <li>
            <b>Education</b>
            <ul>
                <li>BSc Forensic Science and Criminal Investigation</li>
                <li>MSc Cybercrime Investigation</li>
            </ul>
        </li>
        <br />
        <li>
            <b>Interests</b>
            <ul>
                <li>Coding</li>
                <li>Photography</li>
                <li>Graphic Design</li>
                <li>Illustration</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}