{% extends 'base.html' %}
{% block content %}



<!-- Carousel -->
<div>
    <h1>Item 10</h1>
    <div class="itemgal">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img class="itmimg" src="/static/images/Untitled presentation (1).png" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img class="itmimg" src="/static/images/Untitled presentation (2).png" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img class="itmimg" src="/static/images/Untitled presentation (3).png" class="d-block w-100"
                        alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="flexshop">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsum a necessitatibus hic corporis
            deserunt
            perferendis nostrum dignissimos. Explicabo corrupti optio soluta at doloremque quidem commodi minima
            quae maxime
            iste?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsum a necessitatibus hic corporis
            deserunt
            perferendis nostrum dignissimos. Explicabo corrupti optio soluta at doloremque quidem commodi minima
            quae maxime
            iste?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsum a necessitatibus hic corporis
            deserunt
            perferendis nostrum dignissimos. Explicabo corrupti optio soluta at doloremque quidem commodi minima
            quae maxime
            iste?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsum a necessitatibus hic corporis
            deserunt
            perferendis nostrum dignissimos. Explicabo corrupti optio soluta at doloremque quidem commodi minima
            quae maxime
            iste?</p>

    </div>
</div>
{% endblock %}