{% extends 'base.html' %}
{% block content %}


<h1>Links</h1>
<div class="icons">
    <li>
        <button class="socials">
            <a target="_blank" href="https://twitter.com/Jamestk42"><img class="twitlink"
                    src="/static/images/Twitter-logo-png-1.png" alt="twitter" /></a>
        </button>
    </li>

    <li>
        <button class="socials">
            <a target="_blank" href="https://github.com/JamesTK42"><img class="twitlink"
                    src="/static/images/Octocat.png" alt="Github" /></a>
        </button>
    </li>

    <li>
        <button class="socials">
            <a target="_blank" href="https://www.linkedin.com/in/jamesc42/"><img class="twitlink"
                    src="/static/images/LI-In-Bug.png" alt="linkedin" /></a>
        </button>
    </li>
</div>

{% endblock %}